#header-top{
	background: #424242;
	height: 31px;
}
.top-body{
	padding:6px 0px;
	margin: 0 auto;
}
.logo{
	background: url("../slices/all.png");
	background-size: 30px 20px;
	color: #fff;
	float: left;
	display: inline-block;
}
.nav-right{
	float: right;
	text-align: center;
}
.nav-right li{
	display: inline-block;
	padding:0 5px;
}
.nav-right a:hover{
	color: #00a2ca;
}
.zc{
	background: #00a2ca;
	margin: 0 auto;
	width: 130px;
}
.zc a:hover{
	color: #fff;
}